<h1>Welcome!</h1>
<% if @user === nil %>
<h1> You need to sign in</h1>
<%= link_to "Sign in", new_user_session_path %>
<% else %>
<%= link_to "Create Profile", new_profile_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => 'delete'  %>
<% end  %>
